{include file="/library/page_header.html"}
<link rel="stylesheet" href="templates/css/doctor.css" />
<script type="text/javascript" src="templates/lib/layui.js"></script>
<!--banner-->
<div id="banner">
    <img src="templates/img/doctor00.png" />
</div>
<!--商城选择-->
<div id="newsChoice">
    <div class="box">

        <div class="newsBox" align="center">
            {foreach from=$cat_list item=item}
            <a href="/{$item.wap_url}" {if $cat_id eq $item.id}class="ncActive"{/if}>
                {$item.name}
            </a>
            {/foreach}
        </div>
    </div>
</div>
<div id="doctorList">
    <div class="cjBottom">
        <div class="cjList">

        </div>
    </div>
<!--    <div class="getMore">-->
<!--        <a href="###">没有更多~</a>-->
<!--    </div>-->
</div>
{include file="/library/page_footer.html"}

<script type="text/javascript">
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '#doctorList' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                var pages=page;
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get('expert.php?act=lists&cat_id={$eid}&page='+pages, function(res){
                    //假设你的列表返回在data集合中
                    var list=res.list;
                    var html='';
                    for(item in list){
                        html +='<a href="expert.php?act=desc&id='+list[item].id+'" class="cjl">';
                        html +='<div class="cjImg">'
                        html +='<img src="'+list[item].thumb+'" onerror="this.src=\'/themes/default/img/develop.jpg\'"/>';
                        html +='</div>';
                        html +='<div class="cjContent">';
                        html +='<p>'+list[item].name+' '+list[item].job+'</p>';
                        html +='<div class="cjbBottom">';
                        if(list[item].cat_id==7){
                            html +='<p class="p2">'+list[item].desc+'</p>';
                        }else{
                            html +='<p class="p1">'+list[item].unit+' '+list[item].attr+'</p>';
                            html +=' <p>'+list[item].position+'</p>';
                        }
                        html +='</div></div></a>';
                    }
                    $('.cjList').append(html);
                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), pages < res.pages);
                },'JSON');
            }
        });

    });
</script>

</body>
</html>