{include file="/library/page_header.html"}
<link rel="stylesheet" href="templates/css/shop.css?v=1" />
<!--<link rel="stylesheet" href="templates/lib/css/layui.mobile.css">-->
<script type="text/javascript" src="templates/lib/layui.js"></script>
<!--banner-->
<div id="banner">
    <img src="templates/images/shop00.jpg" />
</div>
<!--商城选择-->
<a href="" name="cat" style="display: inline"></a>
<div id="shopChoice">

    <div class="box">

        {foreach from=$cat_list item=item}
        <a href="goods_list.php?cat_id={$item.cat_id}#cat" class="floatl {if $cat_id eq $item.cat_id}aChoice{/if}">
            <img src="{$item.thumb}"/>
            <p>{$item.cat_name3}</p>
        </a>
        {/foreach}
        <div class="clearl"></div>
    </div>

</div>
<div id="shopList">
    <div class="cjBottom">
        <div class="cjbBox">
            <p>国康服务</p>
        </div>
        <div class="cjList">
        </div>
    </div>
<!--    <div class="getMore">-->
<!--        <a href="###">没有更多~</a>-->
<!--    </div>-->
</div>
<script type="text/javascript">
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '#shopList' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get('goods_list.php?act=goods_list&cat_id={$cat_id}&page='+page, function(res){
                    //假设你的列表返回在data集合中
                    var list=res.list;
                    var html='';
                    for(item in list){
                        html +='<a href="/mobile/goods.php?id='+list[item].goods_id+'" class="cjl">';
                        html +=' <div class="cjImg">';
                        html +='<img src="'+list[item].goods_img+'" />';
                        html +='  </div>';
                        html +='<div class="cjContent">';
                        html +=' <p>'+list[item].goods_name+'</p>';
                        html +='   <p class="p1">'+list[item].goods_brief+'</p>';
                        html +=' </div>';
                        html +='</a>';
                    }
                    $('.cjList').append(html);
                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < res.pages);
                },'JSON');
            }
        });

    });
</script>
{include file="/library/page_footer.html"}
</body>
</html>
