{include file="/library/page_header.html"}
<!--banner-->
<div id="banner">
    <img src="templates/img/shop00.png" />
</div>
<!--商城选择-->
<div id="shopChoice">
    <div class="box">

        <a href="###" class="floatl">
            <img src="templates/img/shop01.png"/>
            <p>健康保险</p>
        </a>

        <a href="###" class="floatl">
            <img src="templates/img/shop02.png"/>
            <p>养老保险</p>
        </a>

        <a href="###" class="floatl">
            <img src="templates/img/shop03.png"/>
            <p>全球转诊</p>
        </a>

        <a href="###" class="floatl">
            <img src="templates/img/shop04.png"/>
            <p>私人医生</p>
        </a>

        <a href="###" class="floatl">
            <img src="templates/img/shop05.png"/>
            <p>体检</p>
        </a>

        <div class="clearl"></div>
    </div>
</div>
<div id="shopList">
    <div class="cjBottom">
        <div class="cjbBox">
            <p>国康服务</p>
        </div>
        <div class="cjList">
            <a href="###" class="cjl">
                <div class="cjImg">
                    <img src="img/indexServer.png" />
                </div>
                <div class="cjContent">
                    <p>国康名医绿道</p>
                    <p class="p1">国康名医绿道，可以帮您快速精准找到最好的医生…</p>
                </div>
            </a>
            <a href="###" class="cjl">
                <div class="cjImg">
                    <img src="img/indexServer.png" />
                </div>
                <div class="cjContent">
                    <p>国康名医绿道</p>
                    <p class="p1">国康名医绿道，可以帮您快速精准找到最好的医生…</p>
                </div>
            </a>
            <a href="###" class="cjl">
                <div class="cjImg">
                    <img src="img/indexServer.png" />
                </div>
                <div class="cjContent">
                    <p>国康名医绿道</p>
                    <p class="p1">国康名医绿道，可以帮您快速精准找到最好的医生…</p>
                </div>
            </a>
        </div>
    </div>
    <div class="getMore">
        <a href="###">没有更多~</a>
    </div>
</div>
{include file="/library/page_footer.html"}
</body>
</html>
