{include file="/library/page_header.html"}
<link rel="stylesheet" href="templates/css/index.css?v=2" />
<!--<link rel="stylesheet" href="templates/lib/css/layui.mobile.css">-->
<script type="text/javascript" src="templates/lib/layui.js"></script>
<!--banner-->
<div id="banner">
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            {insert name='ads' id=10 num=3}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--四个选择 对接完首页加上链接 -->
    <div class="fourA">
        <a href="/mobile/know.php" class="floatl">
            <img src="templates/img/fimg1.png" />
            <p>了解国康</p>
        </a>
        <a href="/mobile/goods_list.php?cat_id=4#cat" class="floatl">
            <img src="templates/img/fimg2.png" />
            <p>产品中心</p>
        </a>
        <a href="/mobile/service.php?cat_id=56" class="floatl">
            <img src="templates/img/fimg3.png" />
            <p>服务体系</p>
        </a>
        <a href="/mobile/case.php?act=company" class="floatl">
            <img src="templates/img/fimg4.png" />
            <p>TOP500选择</p>
        </a>
        <div class="clearl"></div>
    </div>
</div>
<!--满足-->
<div id="cj">
    <div class="cjTitle">
        <p>满足您使用的各种场景</p>
    </div>
    <div class="cjDetail">
        <p>国康健康是更懂您企业员工高效秘密的平台。<br/>在多种行业为行业冠军提供最适合的完整健康解决方案。<br/>助力您的企业飞跃发展。</p>
    </div>
    <div class="swiper-container swiper-container-cj">
        <div class="swiper-wrapper">

            {foreach from=$case_list item=item}
            <div class="swiper-slide">
                <div class="cjBox">
                    <div class="cjChild">
                        <div class="cjTop">
                            <img src="../{$item.file_url_wap}" onerror="this.src='../themes/default/img/develop.jpg'"/>
                            <div>
                                <p>{$item.title}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
    <!--产品-->
    <div class="goods">
        <div class="cjbBox">
            <p class="floatl">国康服务</p>
            <a href="/mobile/goods_list.php?cat_id=2#cat" class="floatr">查看全部</a>
            <div class="clearBoth"></div>
        </div>

        <div class="swiper-container swiper-container-goods">


            <div class="swiper-wrapper">
                {foreach from=$goods_list item=item key=key}
                {if $key eq 0}
                <div class="swiper-slide">
                    <div class="cjBottom">
                        <div class="cjList">
                {/if}
                 {if $key%3 eq 0 and $key!=0}
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cjBottom">
                        <div class="cjList">
                 {/if}
                            <div class="cjl">
                                <a href="/mobile/goods.php?id={$item.goods_id}">
                                    <div class="cjImg">
                                        <img src="/{$item.goods_thumb}" onerror="this.src='/themes/default/img/develop.jpg'"/>
                                    </div>
                                    <div class="cjContent">
                                        <p class="title2">{$item.goods_name}</p>
                                        <p class="p1 title3">
                                            {$item.goods_brief}
                                        </p>
                                    </div>
                                </a>
                            </div>
                 {if $key eq $last_goods}

                        </div>
                    </div>
                </div>
                {/if}
                {/foreach}

            </div>
            </div>
        </div>
    </div>
</div>
<!--医生-->
<div id="doctor">
    <div class="doctor bottom-top">
        <div class="dtBox">
            <p class="floatl">国康名医团队</p>
            <a href="/mobile/expert.php?cat_id=34&eid=1" class="floatr">查看全部</a>
            <div class="clearBoth"></div>
        </div>
        <div class="mb05">
            <ul>
                {foreach from=$expert_list item=item key=key}
                <li>
                    <a href="/mobile/expert.php?act=desc&id={$item.id}">
                        <div class="face">
                            <img src="{$item.thumb}" onerror="this.src='../themes/default/img/develop.jpg'" alt="">
                        </div>
                        <div class="title title4">
                            {$item.name} <span class="post">{$item.job}</span>
                        </div>
                        <div class="desc">
                            {$item.unit}
                        </div>
                    </a>
                </li>
                {/foreach}

            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!--行业标杆客户-->
<div id="client" class="w92">
    <div class="bottom-top">
        <div class="dtBox">
            <p class="floatl">行业标杆客户</p>
            <a href="/mobile/case.php?act=company" class="floatr">查看全部</a>
            <div class="clearBoth"></div>
        </div>
    </div>
    <div class="content mb05">
        <ul>
            {foreach from=$article_list item=item key=key}
            <li>
                <a href="article.php?id={$item.article_id}">
                    <img src="../{$item.file_url}" alt="{$item.title}" onerror="this.src='../themes/default/img/develop.jpg'">
                </a>
            </li>
            {/foreach}
        </ul>
        <div class="clear"></div>
    </div>

</div>
<!--新闻咨询-->
<div id="news">
    <div class="bottom-top w92">
        <div class="dtBox">
            <p class="floatl">新闻资讯</p>
            <a href="/mobile/news.php?cat_id=6&nav=41" class="floatr">查看全部</a>
            <div class="clearBoth"></div>
        </div>
    </div>
    <div class="news_nav w92">
        <ul class="">
            {foreach from=$new_cat item=item key=key}
            <li class="title3 {if $key eq 0}select{/if}" data-id="{$item.cat_id}">{$item.cat_name}</li>
            {/foreach}


            <li class="clear"></li>
        </ul>

    </div>
    <div>
        {foreach from=$news_list item=item key=key}
        <div class="swiper-container swiper-container-new swiper-container-new-{$item.cat_id}" {if $key neq 0}style="display: none"{/if}>
        <div class="swiper-wrapper">
            {foreach from=$item.list item=item2 key=key2}
            {if $key2 eq 0}
            <div class="swiper-slide" style="width: 95%">
                {/if}
                {if $key2%3 eq 0 and $key2!=0}
            </div>
            <div class="swiper-slide" style="width: 95%">
                {/if}
                <div class="newsbox">
                    <a href="/mobile/news.php?act=desc&id={$item2.article_id}">
                        <div class="floatl text">
                            <div class="title title3">{$item2.title}</div>
                            <div class="add_time title4">{$item2.add_time|dataDay} {$item.cat_name}</div>
                        </div>
                        <div class="floatl thumb">
                            <img src="../{$item2.file_url}" alt="" onerror="this.src='../themes/default/img/develop.jpg'">
                        </div>
                    </a>
                </div>

                {if $key2+1 eq $item.count}
            </div>
            {/if}
            {/foreach}
        </div>
        <script type="text/javascript">
            $(function(){
                var swipernews = new Swiper('.swiper-container-new-{$item.cat_id}', {
                    onInit: function(swiper){

                    }
                });
            })
        </script>
    </div>
    {/foreach}
    </div>

</div>
<!--表单提交-->
<div id="apply">
    <img src="templates/images/index-apply.png" alt="">
    <div class="content">
        <div class="title1">免费申请体验私人医生服务</div>
        <form class="layui-form" action="">
            <div class="item from-item-1" style="margin-top: 0">
                <input type="text" name="username" class="layui-input" placeholder="请输入您的姓名">
                <input type="text" name="mobile" class="layui-input" placeholder="请输入您的电话">
                <div class="clear"></div>
            </div>
            <div class="item">
                <input type="text" name="company" class="layui-input" placeholder="请输入您的单位名称">
            </div>
            <div class="item">
                <input type="text" name="position" class="layui-input" placeholder="请输入您的职位">
            </div>
            <div class="item">
                <input type="submit" class="title2" value="免费申请" lay-submit lay-filter="*">
            </div>

        </form>
        <script>
            layui.use('form', function(){
                var form = layui.form;
                form.on('submit(*)', function(data){
                    layer.load(2);
                    console.log(data.field);
                    $.ajax({
                        url:'../message.php?act=apply',
                        type:'POST',
                        dataType:'JSON',
                        data:data.field,
                        success:function(res){
                            layer.closeAll();
                            layer.msg(res.msg);
                        },
                        error:function () {
                            layer.closeAll();
                            layer.msg('提交失败');

                        }
                    });

                    return false;
                });

            });
        </script>
        <div class="apply-text title4">
            请方向填写，您的信息将被加密保护 <br/>
            符合条件者，可成为特邀体验会员
        </div>
    </div>
</div>
{include file="/library/page_footer.html"}

<script type="text/javascript" src="templates/js/index.js?v=1" ></script>
</body>
</html>

