p {
  margin: 0px; }

.navbar {
  margin-bottom: 0px; }

.w14 {
  width: 1140px;
  margin: 0 auto; }

#topNav {
  width: 100%;
  height: 72px; }
  #topNav .topNav {
    position: absolute;
    left: 0;
    width: 100%;
    height: 72px;
    box-shadow: 0 2px 2px rgba(231, 231, 231, 0.5);
    background-color: white; }
  #topNav .w12 {
    width: 1140px;
    position: relative; }
    #topNav .w12 > p {
      line-height: 72px;
      color: #333333;
      font-size: 18px; }
    #topNav .w12 .rightNav {
      position: absolute;
      top: 0;
      right: 0; }
      #topNav .w12 .rightNav ul li {
        float: left; }
        #topNav .w12 .rightNav ul li a {
          display: block;
          margin: 28px 0;
          font-size: 16px;
          line-height: 16px;
          color: #6b6b6b;
          padding: 0 16px;
          border-right: 1px solid #e5e5e5; }
        #topNav .w12 .rightNav ul li .aActive {
          color: #056dbb; }
        #topNav .w12 .rightNav ul li button {
          width: 96px;
          display: block;
          height: 28px;
          background-color: #056dbb;
          font-size: 14px;
          border-radius: 14px;
          color: white;
          margin: 22px 5px; }
      #topNav .w12 .rightNav ul li:nth-child(6) a {
        border-right: 0px; }

#shopOne {
  width: 100%;
  background-color: white; }
  #shopOne .w14 {
    margin-top: 40px; }
  #shopOne .soLeft {
    width: 620px; }
    #shopOne .soLeft img {
      width: 100%; }
  #shopOne .soRight {
    width: 480px;
    margin-left: 40px; }
    #shopOne .soRight .soTitle {
      color: #333333;
      font-size: 26px; }
    #shopOne .soRight .soContent {
      font-size: 15px;
      color: #999999;
      padding: 15px 0; }
    #shopOne .soRight .labelBox {
      margin: 2px 0 20px; }
      #shopOne .soRight .labelBox a {
        display: block;
        line-height: 26px;
        padding: 0 12px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        color: #a7a7a7;
        margin-right: 5px; }
      #shopOne .soRight .labelBox a:nth-last-child(2) {
        margin-right: 0px; }
    #shopOne .soRight .money {
      color: #fb0404;
      line-height: 90px;
      font-size: 40px;
      text-indent: 5px;
      border-bottom: 1px solid #e5e5e5;
      border-top: 1px solid #e5e5e5; }
      #shopOne .soRight .money span {
        display: inline-block;
        margin-left: 20px;
        color: #999999;
        font-size: 20px; }
    #shopOne .soRight .forWho {
      margin-top: 10px; }
      #shopOne .soRight .forWho .fwTitle {
        line-height: 40px;
        font-size: 12px;
        color: #6b6b6b; }
      #shopOne .soRight .forWho .forBtn button {
        width: 235px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        color: #aaaaaa;
        font-size: 12px;
        height: 40px;
        margin: 0 10px 10px 0;
        background-color: transparent; }
      #shopOne .soRight .forWho .forBtn button:nth-child(2n) {
        margin-right: 0px; }
      #shopOne .soRight .forWho .forBtn button:hover {
        border-color: #056dbb;
        color: #333333; }
      #shopOne .soRight .forWho .forBtn .forActive {
        border-color: #056dbb;
        color: #333333; }
    #shopOne .soRight .number {
      margin-top: 10px; }
      #shopOne .soRight .number .nbTitle {
        line-height: 40px;
        font-size: 12px;
        color: #6b6b6b; }
      #shopOne .soRight .number .nbBtn {
        width: 235px;
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 3px; }
        #shopOne .soRight .number .nbBtn p {
          width: 133px;
          font-size: 12px;
          color: #333333;
          text-align: center;
          line-height: 40px;
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5; }
        #shopOne .soRight .number .nbBtn .reduce {
          width: 50px;
          height: 40px;
          background-color: transparent; }
          #shopOne .soRight .number .nbBtn .reduce span {
            display: block;
            margin: 0 auto;
            width: 10px;
            border-bottom: 3px solid #cfcfcf; }
        #shopOne .soRight .number .nbBtn .increase {
          width: 50px;
          height: 40px;
          background: url(../image/add.png) no-repeat center center;
          background-size: 10px 10px; }
    #shopOne .soRight .twoBtn {
      margin-top: 40px; }
      #shopOne .soRight .twoBtn a {
        display: block;
        width: 190px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 25px;
        font-size: 20px;
        color: #666666;
        background-color: #eeeeee;
        margin-right: 10px; }
      #shopOne .soRight .twoBtn .aBlue {
        color: white;
        background-color: #056dbb; }

.pTitle {
  padding: 40px 0; }
  .pTitle p {
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: #333333;
    background-color: #eeeeee; }

#part2 .part2 {
  width: 100%;
  background-color: white; }
  #part2 .part2 .floatl {
    width: 360px;
    margin-left: 15px; }
  #part2 .part2 ul {
    margin: 0; }
  #part2 .part2 .ptImg {
    width: 100%;
    padding: 50px 0 0px; }
    #part2 .part2 .ptImg img {
      width: 100%; }
  #part2 .part2 p {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    padding: 15px 0;
    margin-bottom: 20px; }

.part3 {
  width: 100%;
  background-color: white;
  padding-bottom: 100px; }
  .part3 .ptTitle {
    width: 1000px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 140px;
    color: #333333; }
  .part3 ul {
    margin-bottom: 0px; }
  .part3 .part3Box {
    width: 1000px;
    margin: 0 auto; }
    .part3 .part3Box .floatl {
      width: 200px;
      padding-top: 40px;
      background-color: #f5f5f5; }
  .part3 .p3Img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden; }
    .part3 .p3Img img {
      width: 100%; }
  .part3 .part3Box .twoContent {
    background-color: white;
    padding-top: 87px; }
    .part3 .part3Box .twoContent p {
      color: #999999;
      line-height: 30px;
      font-size: 16px;
      text-align: center;
      width: 96%;
      margin: 0 auto; }
    .part3 .part3Box .twoContent p:nth-child(1) {
      border-bottom: 1px dashed #dcdcdc; }
  .part3 .p3Content {
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    padding-bottom: 20px; }

.problemBox {
  background-color: white;
  padding-top: 50px; }
  .problemBox a {
    display: block;
    width: 490px;
    margin: 0 40px 50px;
    padding-left: 35px;
    background: url(../image/problem.png) no-repeat left top; }
    .problemBox a .pbTitle {
      font-size: 16px;
      line-height: 30px;
      color: #666666; }
    .problemBox a .pbContent {
      font-size: 14px;
      color: #999999;
      line-height: 24px; }

.pointBox {
  width: 100%;
  background-color: white;
  padding-bottom: 40px; }
  .pointBox .pointTop {
    width: 1100px;
    margin: 0 auto;
    padding: 40px 0; }
    .pointBox .pointTop ul {
      width: 300px;
      margin-bottom: 0px; }
      .pointBox .pointTop ul p {
        text-align: center;
        color: #666666;
        font-size: 16px;
        line-height: 24px; }
      .pointBox .pointTop ul li:nth-child(1) p {
        font-size: 55px;
        color: #fb0404;
        line-height: 60px; }
        .pointBox .pointTop ul li:nth-child(1) p span {
          font-size: 25px; }
  .pointBox .ppBox {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0 0;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px; }
    .pointBox .ppBox .ppLeft {
      width: 56px;
      height: 56px;
      overflow: hidden;
      border-radius: 50%;
      margin: 8px 22px; }
      .pointBox .ppBox .ppLeft img {
        width: 100%; }
    .pointBox .ppBox .ppMiddle {
      width: 780px; }
      .pointBox .ppBox .ppMiddle p {
        font-size: 14px;
        line-height: 24px;
        color: #666666; }
      .pointBox .ppBox .ppMiddle .ppContent {
        margin-bottom: 30px; }
      .pointBox .ppBox .ppMiddle .elsePoint {
        width: 100%;
        border-top: 1px solid #eeeeee; }
        .pointBox .ppBox .ppMiddle .elsePoint .epBox {
          padding: 30px 0; }
        .pointBox .ppBox .ppMiddle .elsePoint .epLeft {
          width: 40px;
          height: 40px;
          overflow: hidden;
          border-radius: 50%;
          margin: 5px 10px; }
          .pointBox .ppBox .ppMiddle .elsePoint .epLeft img {
            width: 100%; }
        .pointBox .ppBox .ppMiddle .elsePoint .epRight {
          width: 720px; }
    .pointBox .ppBox .ppRight {
      width: 200px;
      text-align: right;
      color: #999999;
      margin-top: 20px; }
      .pointBox .ppBox .ppRight img {
        margin-left: 4px; }
      .pointBox .ppBox .ppRight p {
        line-height: 30px;
        margin-right: 5px; }
  .pointBox .lookMore a {
    display: block;
    width: 1100px;
    margin: 0 auto;
    font-size: 18px;
    color: #333333;
    line-height: 60px;
    text-align: center;
    background-color: #eeeeee; }

/*# sourceMappingURL=shop.css.map */

.toubao {
  width: 480px;

  background-color: white; }

.toubao input::-moz-placeholder {
  color: #333; }
.toubao input::-ms-input-placeholder {
  color: #333; }
.toubao input::-webkit-input-placeholder {
  color: #333; }
.toubao .nameBox {
  width:480px;

}
.toubao .nameBox p {

}
.toubao .nameBox input {
  width: 218px;
  border: 1px solid #e6e6e6;
  height: 36px;
  border-radius: 18px;
  font-size: 14px;
  text-indent: 12px; }
.toubao .sexBox {
  width: 220px;

}
.toubao .sexBox .sexBoxl {
  width: 90px; }
.toubao .sexBox .sexBoxl p {
  line-height: 28px; }
.toubao .sexBox .sexBoxr {
  width: 120px;
  margin-left: 10px; }
.toubao .sexBox .sexBoxr .layui-input-block {
  margin-left: 0px; }
.toubao .sexBox .sexBoxr .layui-form-radio {
  margin: 0;
  padding-right: 5px; }
.toubao .sexBox .sexBoxr .layui-form-item {
  margin-bottom: 0px; }
.toubao .sexBox .sexBoxr .layui-form-radio i {
  margin-right: 3px; }
.toubao .phoneBox {
  width: 220px;

}
.toubao .phoneBox input {
  width: 218px;
  border: 1px solid #f5f5f7;
  height: 36px;
  border-radius: 18px;
  font-size: 14px;
  text-indent: 12px;
  /*background-color: #f5f5f7;*/
}
.toubao .selectBox {
  width: 220px;

}
.toubao .selectBox .layui-input-block {
  margin-left: 0px;
  height: 36px; }
.toubao .selectBox .layui-input {
  height: 36px;
  border-radius: 18px;
  padding-left: 12px;
  color: #555555;
  /*background-color: #f5f5f7;*/
  border-color: #F5F5F7; }
.toubao .selectBox .layui-form-select .layui-edge {
  right: 12px; }
.toubao .btnBox {
  width: 220px;
  height: 36px;
  border-radius: 18px;
  overflow: hidden;

}
.toubao .btnBox .btn {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: white;
  background-color: #056dbb; }
.toubao .tips {
  /*text-align: center;*/
}
.toubao .tips p {
  font-size: 12px;
  line-height: 12px;
  color: #8f8f8f; }
.toubao .tips p span {
  color: #056dbb;
  font-size: 14px; }
.mar40{
  margin-top: 20px;
}