<!-- $Id: article_info.htm 16780 2009-11-09 09:28:30Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,validator.js,../js/transport.js,../js/region.js,../js/shopping_flow.js"}
<!-- start goods form -->
<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span><span
                class="tab-back" id="detail-tab">内容简介</span>
        </p>
    </div>

    <div id="tabbody-div">
        <form  action="doctor.php" method="post" enctype="multipart/form-data" name="theForm" onsubmit="return validate();">
            <table width="90%" id="general-table">
                <tr>
                    <td class="narrow-label">专家名称</td>
                    <td><input type="text" name="title" size ="40" maxlength="60" value="{$doctor.title|escape}" />{$lang.require_field}</td>
                </tr>
                <!-- {if $doctor.cat_id >= 0} -->
                <tr>
                    <td class="narrow-label">专家科室 </td>
                    <td>
                        <select name="doctor_cat" onchange="catChanged()">
                            <option value="0">请选择...</option>
                            {$cat_select}
                        </select>
                        {$lang.require_field}</td>
                </tr>
                <!-- {else} -->
                <input type="hidden" name="doctor_cat" value="-1" />
                <!-- {/if} -->

                <tr>
                    <td class="narrow-label">所在省份</td>
                    <td>
                        <select name="province" id="selProvinces" onchange="region.changed(this, 2, 'selCities')" >
                            <option value="0">-省份-</option>
                            <!-- {foreach from=$shop_province_list item=province} -->
                            <option value="{$province.region_id}" {if $doctor.province eq $province.region_id}selected{/if}>{$province.region_name}</option>
                            <!-- {/foreach} -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="narrow-label">所在城市</td>
                    <td>
                        <select name="city" id="selCities" onchange="region.changed(this, 3, 'selDistricts')">
                            <option value="0">-城市-</option>
                            <!-- {foreach from=$city_list item=city} -->
                            <option value="{$city.region_id}" {if $consignee.city eq $city.region_id}selected{/if}>{$city.region_name}</option>
                            <!-- {/foreach} -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="narrow-label">所在地区</td>
                    <td>
                        <select name="district" id="selDistricts">
                        <option value="0">-地区-</option>
                        <!-- {foreach from=$district_list item=district} -->
                        <option value="{$district.region_id}" {if $consignee.district eq $district.region_id}selected{/if}>{$district.region_name}</option>
                        <!-- {/foreach} -->
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="narrow-label">介绍</td>
                    <td><textarea name="description" id="description" cols="40" rows="5">{$doctor.description|escape}</textarea></td>
                </tr>

                <tr>
                    <td class="narrow-label">人物图片</td>
                    <td><input type="file" name="file">
                      <span class="narrow-label">或输入文件地址
                      <input name="file_url" type="text" value="{$doctor.file_url|escape}" size="30" maxlength="255" />
                      </span>
                    </td>
                </tr>
            </table>

            <table width="90%" id="detail-table" style="display:none">
                <tr><td>{$FCKeditor}</td></tr>
            </table>

            <div class="button-div">
                <input type="hidden" name="act" value="{$form_action}" />
                <input type="hidden" name="old_title" value="{$doctor.title}"/>
                <input type="hidden" name="id" value="{$doctor.doctor_id}" />
                <input type="submit" value="{$lang.button_submit}" class="button"  />
                <input type="reset" value="{$lang.button_reset}" class="button" />
            </div>
        </form>
    </div>

</div>
<!-- end goods form -->
<script type="text/javascript">
    region.loadCities('{$doctor.province}', 'selCities');
    setTimeout(function(){
        region.loadDistricts('{$doctor.city}', 'selDistricts');
    },300);
</script>


<script language="JavaScript">

    var articleId = {$doctor.doctor_id|default:0};
    var elements  = document.forms['theForm'].elements;
    var sz        = new SelectZone(1, elements['source_select'], elements['target_select'], '');

    {literal}
    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    }

    function validate()
    {
        var validator = new Validator('theForm');
        validator.required('title', '没有名称');
        {/literal}
        {if $doctor.cat_id >= 0}
        validator.isNullOption('doctor_cat','没有分类');
        {/if}
        {literal}

        return validator.passed();
    }

    document.getElementById("tabbar-div").onmouseover = function(e)
    {
        var obj = Utils.srcElement(e);

        if (obj.className == "tab-back")
        {
            obj.className = "tab-hover";
        }
    }

    document.getElementById("tabbar-div").onmouseout = function(e)
    {
        var obj = Utils.srcElement(e);

        if (obj.className == "tab-hover")
        {
            obj.className = "tab-back";
        }
    }

    document.getElementById("tabbar-div").onclick = function(e)
    {
        var obj = Utils.srcElement(e);

        if (obj.className == "tab-front")
        {
            return;
        }
        else
        {
            objTable = obj.id.substring(0, obj.id.lastIndexOf("-")) + "-table";

            var tables = document.getElementsByTagName("table");
            var spans  = document.getElementsByTagName("span");

            for (i = 0; i < tables.length; i++)
            {
                if (tables[i].id == objTable)
                {
                    tables[i].style.display = (Browser.isIE) ? "block" : "table";
                }
                else
                {
                    tables[i].style.display = "none";
                }
            }
            for (i = 0; spans.length; i++)
            {
                if (spans[i].className == "tab-front")
                {
                    spans[i].className = "tab-back";
                    obj.className = "tab-front";
                    break;
                }
            }
        }
    }

    function showNotice(objId)
    {
        var obj = document.getElementById(objId);

        if (obj)
        {
            if (obj.style.display != "block")
            {
                obj.style.display = "block";
            }
            else
            {
                obj.style.display = "none";
            }
        }
    }

    function searchGoods()
    {
        var elements  = document.forms['theForm'].elements;
        var filters   = new Object;

        filters.cat_id = elements['cat_id'].value;
        filters.brand_id = elements['brand_id'].value;
        filters.keyword = Utils.trim(elements['keyword'].value);

        sz.loadOptions('get_goods_list', filters);
    }
    {/literal}

    /**
     * 选取上级分类时判断选定的分类是不是底层分类
     */
    function catChanged()
    {
        var obj = document.forms['theForm'].elements['doctor_cat'];

        cat_type = obj.options[obj.selectedIndex].getAttribute('cat_type');
        if (cat_type == undefined)
        {
            cat_type = 1;
        }

        if ((obj.selectedIndex > 0) && (cat_type == 2 || cat_type == 4))
        {
            alert(not_allow_add);
            obj.selectedIndex = 0;
            return false;
        }

        return true;
    }
</script>
{include file="pagefooter.htm"}